<!DOCTYPE html>
<html>
<head>
    <title>Delete Record</title>
</head>
<body>
    <h1>Delete Record</h1>
    <form method="POST">

               {% for nameNoId in namesNoId %}
'
   <br>
                {{nameNoId}}
                <br>
                <input type="text" name={{nameNoId}} value={{record[nameNoId]}}>


                {% endfor %}

<!--

        <label for="firstName">firstName:</label>
        <input type="text" name="firstName" value="{{ record.firstName }}">
        <br>
        <label for="lastName">lastName:</label>
        <input type="text" name="lastName" value="{{ record.lastName }}">
-->
        <br>
        <input type="submit" value="Delete">
    </form>
</body>
</html>
